body{
    width: 100% ;
    height:auto;
    padding:0px;
    margin: 0px 0px 0px 0px;
    border: 0;

}
/* Main container css */
div.main-container{
   width: 100%;
   height: 90%;
   min-height: 1000px;
   margin: 0px 0px 0px 0px;

}
/* Footer css */
div.footer{
    padding: 0.2rem 0;
    text-align: center;
    font-size: smaller;
    color: #fff;
    background-color: #017a84; 
    clear:both !important; 
}
/* Header css */
div.header{
    height: 40%;
    background-color: #017a84;
    margin: 0px 0px 0px 0px;
    display: flex;
    padding: 0 20px 0 30px;

}
/* Content container css */
div.container{
    width:100%;
    margin: 0px 0px 0px 0px;
    /* padding: 3% 1% 0px 1%;  */
    /* margin-top: 3%; */ 
    /* rem, Px */

}
/* Left Nav css */
div.left-nav{
    width: 30%;
    margin: 0px 0px 0px 0px;
}
/* Content section css */
div.content{
    width:70%;
    margin: 0px 0px 0px 0px;
}
/* Logo style */
div.logo{
    width: 10%;
}
/* Top Nav style */
div.main-nav{
    width:70%;
    color: white;
    align-content: center;
    text-align: center;
}
/* User section css */
div.user-info{
    width:20%;
    text-align: right;
}
/* Course listing css*/
.course-list{
    /* background-color:yellow;  */
    width:100%;
    min-height: 100%;
    justify-self: center;
    justify-items: center;
    /* padding: 0.8rem; */

}


/* Logo img css */
img.logo{
    width: 150px;
    height: 150px;
}

/* User profile section css */

/* Login css */
/* vh: viewport height, vw: viewport width */
.login-page{
    width:100vw;
    height: 100vh;
    background-color: #017a84;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* justify-content: center; */
}
.login-logo{
    margin-top: 50px;
    height:150px;
    width: 150px;
}
.login-form{
    margin-top: 20px;
    width: 20%;
    background-color: white;
    padding:  50px 40px;
        
}
.login-form h1 {
    text-align: center;
    color:#017a84;
    margin-bottom: 20px;
}
.form-items {
    margin:10px 0;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;

}


.login-form button{
    /* width: 40px;
    height: 20px; */
    border-radius: 2px;
    color:white;
    background-color: #017a84;
    border: none;
    padding:10px 20px;
    margin: 0 95px;
    font-size: 18px;
    font-weight: bold;
}


/* courses section */
*{
    box-sizing: border-box;
  }
  a{
    color: inherit;
    text-decoration: none;
  }
  a:hover{
      text-decoration: none;
      color: inherit;
  }
  .margin-zero{
      margin: 0;
  }
  .padded{
    padding: 0.8rem;
  }
  .padded-tb{
    padding: 0.8rem 0;
  }
  .text-center{
      text-align: center;
  }
  .text-underline{
      text-decoration: underline;
  }
  .row{
    position: relative;
  }
  .course-box{
    float: left;
    width: 33.3333%;
  }
  .course{
    height: 150px;
    background: #f1f1f1;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }
  .centerize{
    max-width: 1080px;
    margin: auto;
  }
  .course-title{
    color: #1f1f1f;
    font-weight: lighter;
  }

/* lesson page */
.lesson-wrapper--outer, .lesson-wrapper--inner{
min-height: 600px;
}
/* .lesson-wrapper--outer{
    margin-bottom: 0 auto -50px;
} */
.lesson-layout--row{
    position: relative;
    overflow: -webkit-paged-y;
}
.lesson-sidebar{
    width: 20%;
    margin-right: 2%;
    min-height: 300px;
    float: left;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: 4px;
    box-sizing: border-box;
}
.lesson-content{
    width: 60%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    min-height: 400px;
}
.quiz-content-wrapper{
    width: 60%;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    min-height: 400px;
    /* padding-bottom: 50px; */
}
.bg-light-grey{
    background: #f3f5f7;
}
.bg-white{
    background: #fff;
}

.button{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    background: #007bff;
    color: #fff;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button:hover{
    cursor: pointer;
    color: #fff;
}

.radio-res,.check-box-res {
    margin: 10px;
}

.shadow{
    border-radius: 4px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}
/* .center{
    align-content: center;
    margin-left:20%;
} */
.contact-btn{
    margin-top:100px;
    color:#007bff;
    font-weight: bold;
}